{% extends 'objects/index.html' %}
{% load i18n %}
{% load table_sort %}

{% block page_header %}
    {% trans "Labels" %}
{% endblock %}

{% block create_button %}
    <a class="btn btn-warning mb-3 shadow" href="{% url 'label_create' %}">{% trans 'Create label' %}</a>
{% endblock %}

{% block table_content %}
    <thead class="table-dark">
    <tr>
        <th class="text-center">{% build_tag request sort_field="id" tag_text="ID" %}</th>
        <th>{% build_tag request sort_field="name" tag_text=_("Name") %}</th>
        <th>{% build_tag request sort_field="created_at" tag_text=_("Creation date") %}</th>
        <th>{% if request.GET.sort_by %}<a href="{% url 'labels' %}" style="color: grey;">[{% trans "Cancel sorting" %}]</a>{% endif %}</th>
    </tr>
    </thead>
    
    <tbody class="table-group-divider">
    {% for label in labels %}
        <tr>
            <td class="align-middle text-center">{{ label.id }}</td>
            <td class="align-middle"><a href="{% url 'tasks' %}?labels={{ label.id }}&scroll=575">{{ label.name }}</a></td>
            <td class="align-middle">{{ label.created_at|date:'d.m.Y H:i' }}</td>
            <td class="align-middle">
                <a href="{% url 'label_update' label.id %}">{% trans "Edit" %}</a>
                <br>
                <a href="{% url 'label_delete' label.id %}">{% trans "Delete" %}</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
{% endblock %}
