{% extends 'objects/index.html' %}
{% load i18n %}
{% load django_bootstrap5 %}
{% load table_sort %}

{% block page_header %}
    {% trans "Tasks" %}
{% endblock %}

{% block create_button %}
    <a class="btn btn-warning mb-3 shadow" href="{% url 'task_create' %}">{% trans 'Create task' %}</a>
{% endblock %}

{% block filter %}
    <div class="card mb-3 shadow border-0">
        <div class="card-body bg-light rounded">
            <form id="taskForm" class="form-inline center">
                {% bootstrap_form filter.form %}
                <input class="btn btn-warning shadow-sm" type="submit" value={% trans "Show" %}>
                <a class="btn btn-secondary shadow-sm" type="submit" href="{% url 'tasks' %}">{% trans "Reset" %}</a>
            </form>
        </div>
    </div>
{% endblock %}

{% block table_content %}
     <thead class="table-dark" id="table">
        <tr>
            <th class="text-center">{% build_tag request sort_field="id" tag_text="ID" %}</th>
            <th>{% build_tag request sort_field="name" tag_text=_("Name") %}</th>
            <th>{% build_tag request sort_field="status" tag_text=_("Status") %}</th>
            <th>{% build_tag request sort_field="author__first_name___author__last_name" tag_text=_("Author") %}</th>
            <th>{% build_tag request sort_field="executor__first_name___executor__last_name" tag_text=_("Executor") %}</th>
            <th>{% build_tag request sort_field="created_at" tag_text=_("Creation date") %}</th>
            <th>{% if request.GET.sort_by %}<a href="{% url 'tasks' %}" style="color: grey;">[{% trans "Cancel sorting" %}]</a>{% endif %}</th>
        </tr>
     </thead>
    <tbody class="table-group-divider">
        {% for task in object_list %}
            <tr>
                <td class="align-middle text-center">{{ task.id }}</td>
                <td class="align-middle"><a href="{% url 'task_detail' task.id %}">{{ task.name }}</a></td>
                <td class="align-middle">{{ task.status }}</td>
                <td class="align-middle">{{ task.author.get_full_name }}</td>
                <td class="align-middle">{{ task.executor.get_full_name }}</td>
                <td class="align-middle">{{ task.created_at|date:'d.m.Y H:i' }}</td>
                <td class="align-middle"><a href="{% url 'task_update' task.id %}">{% trans "Edit" %}</a>
                    <br>
                    <a href="{% url 'task_delete' task.id %}" >{% trans "Delete" %}</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}
