{% extends 'layout.html' %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block page_header %}{% trans "Tasks" %}{% endblock %}

{% block content %}
    <style></style>
    <a class="btn btn-warning mb-3" href="/tasks/create/">{% trans "Create task" %}</a>
    <div class="card mb-3">
        <div class="card-body bg-light">
            <form id="taskForm" class="form-inline center">
                {% bootstrap_form filter.form %}
                <input class="btn btn-warning" type="submit" value={% trans "Show" %}>
                <a class="btn btn-secondary" type="submit" href="{% url 'tasks' %}">{% trans "Reset" %}</a>
            </form>
        </div>
    </div>
    <table class="table table-striped table-hover">
    
        <thead class="table-dark">
        <tr>
            <th class="text-center">ID</th>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Status" %}</th>
            <th>{% trans "Author" %}</th>
            <th>{% trans "Executor" %}</th>
            <th>{% trans "Creation date" %}</th>
            <th></th>
        </tr>
        </thead>
    
        <tbody class="table-group-divider">
        {% for task in filter.qs %}
            <tr>
                <td class="align-middle text-center">{{ task.id }}</td>
                <td class="align-middle"><a href="{% url 'task_detail' task.id %}">{{ task.name }}</a></td>
                <td class="align-middle">{{ task.status }}</td>
                <td class="align-middle">{{ task.author.get_full_name }}</td>
                <td class="align-middle">{{ task.executor.get_full_name }}</td>
                <td class="align-middle">{{ task.created_at|date:'d.m.Y H:i' }}</td>
                <td class="align-middle"><a href="{% url 'task_update' task.id %}">{% trans "Edit" %}</a>
                    <br>
                    <a href="{% url 'task_delete' task.id %}">{% trans "Delete" %}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    
    </table>
    
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; {% trans "first" %}</a>
            <a href="?page={{ page_obj.previous_page_number }}">{% trans "previous" %}</a>
        {% endif %}
        {% if page_obj.paginator.num_pages > 1 %}
        <span class="current">
            {% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}.
        </span>
        {% endif %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">{% trans "next" %}</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">{% trans "last" %} &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}