{% load django_bootstrap5 %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load static %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block title %}
        <title>{% trans "Hexlet Task Manager" %}</title>
        {% endblock %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {% load tz_detect %}
        {% tz_detect %}
        <link rel="stylesheet" href="{% static 'my_styles/my_styles.css' %}">
    </head>
    
    <body class="d-flex flex-column min-vh-100">
  
        {% block navbar %}
          {% include 'navbar.html' %}
        {% endblock %}
      
        <div class="container wrapper flex-grow-1">
            {% if messages %}
                <div class="shadow-sm rounded">
                    {% bootstrap_messages %}
                </div>
            {% endif %}
            <h1 class="my-4 custom-text-shadow">
                {% block page_header %}
                {% endblock %}
            </h1>
            {% block content %}
            {% endblock %}
        </div>
      
        {% block footer %}
            <footer>
                <div class="container my-5 pt-4 border-top">
                    <a href="https://github.com/dmkael/python-project-52" target="_blank">DmKael</a>
                </div>
            </footer>
        {% endblock %}
    
    </body>
</html>