{% extends 'layout.html' %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block page_header %}{{ header }}{% endblock %}

{% block content %}
    {% if button_url %}
    <a class="btn btn-warning mb-3 shadow rounded" href="{{ button_url }}">{{ button_text }}</a>
    {% endif %}
    {% block filter %}
    {% endblock %}
    
    {% block table %}
    <table class="table table-striped table-hover shadow table-rounded">
    
        {% block table_content %}
        {% endblock %}
    
    </table>
    {% endblock %}
    
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1"> {% trans "first" %}</a>
            <a href="?page={{ page_obj.previous_page_number }}">{% trans "previous" %}</a>
        {% endif %}
        {% if page_obj.paginator.num_pages > 1 %}
        <span class="current">
            {% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}.
        </span>
        {% endif %}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">{% trans "next" %}</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">{% trans "last" %}</a>
        {% endif %}
    </span>
</div>
{% endblock %}